@model TimberBeamCalculator.Models.Dimensions
@{
    Layout = null;
}

<itext creationdate="@DateTime.Now.ToString()" producer="RazorPDF">
    <table width="100%" cellpadding="0.5" cellspacing="0.5" widths="30;70" borderwidth="1.0" left="false" right="false" top="false" bottom="false" red="0" green="0" blue="0">

        <row>
            <cell>
                <chunk style="font-weight:bold;">Name of the report:</chunk>
            </cell>

            <cell>
                <chunk style="font-weight:bold;">@Model.ProjectTitle</chunk>
            </cell>
        </row>
        <row>
            <cell>
                <chunk style="font-weight:bold;">Safety Factor:</chunk>
            </cell>
            <cell>
                <chunk style="">@Model.PermanentLoadSafetyFactor</chunk>
            </cell>
        </row>
        <row>
            <cell>
                <chunk style="font-weight:bold;">Span Length:</chunk>
            </cell>
            <cell>
                <chunk style="">@Model.SpanLength</chunk>
            </cell>
        </row>
        <row>
            <cell>
                <chunk style="font-weight:bold;">Variable Load Safety:</chunk>
            </cell>
            <cell>
                <chunk style="">@Model.VariableLoadSafetyFactor</chunk>
            </cell>
        </row>
        <row>
            <cell>
                <chunk style="font-weight:bold;">Final Result:</chunk>
            </cell>
            <cell>
                <chunk style="">@Model.FinalResult</chunk>
            </cell>
        </row>

    </table>
</itext>
